/* style.css */

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container {
    position: relative;
    display: inline-block;
}

#logo-text {
    font-size: 24px; /* Adjust as needed */
}

#qr-code {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px; /* Initial size of QR code */
    height: 30px;
    opacity: 0;
    transition: transform 2s, opacity 2s, top 2s, left 2s;
}

#qr-code.moved {
    transform: scale(3); /* Adjust scaling */
    top: -100px; /* Moves to upper right corner */
    left: 100px; /* Adjust positioning as needed */
    opacity: 1;
}

.hidden {
    display: none;
}
